%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} Materials App
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li= link_to 'New Material', new_material_path
        %li= link_to 'New Company', new_company_path
        %li{:class => "#{"active" if current_page?(materials_path)}"}= link_to 'Search', materials_path
