.col-sm-11.col-xs-12.blog-content
  %h2.text-center= @company.name
  %h5.text-center= @company.address + ' ' + @company.city + ' ' + @company.state + ' ' + @company.zip.to_s
  %h5.text-center= @company.country
